* {
  box-sizing: border-box;
}

.container {
  


  p {
    text-align: center;
    font-size: 25px;
  }

  .tracks-container{
    margin: 0px auto;
    width: 974px;

  }

  .audio-track {
    text-align: center;
    margin-bottom: 25px;
    height: 50px;
  }

  .search-bar {
    text-align: center;
    height: 77px;
    background-color: orange;

    .search-form {
      padding: 15px 0px 15px 0px;
      border-bottom: 2px solid lightgrey;
      border-top: 2px solid lightgrey;

      #track-input {
        text-align: center;
        width: 200px;
        border: 1px solid lightgrey;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
      }

    }
  }

  .search-button {
    display: block;
    margin: 0px auto;
    width: 200px;
    background-color: lightblue;
    border: none;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  .result-container {
    width: 200px;
    display: inline-block;
    margin: 20px;
  }

  .song-name {
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
  }

  .band-name {
    font-size: 14px;
    text-align: center;
  }

  .image-click {
    width: 200px;
  }
}
